



/*  View*/


#outputviewmode {
 
  width: 100%;
  height: 700px;
  border: none; /* Optionally, remove border */
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


#backarrow{
  font-size: 4em !important;



}


#backbtn, #backbtndevtool {
  margin-left: -20px; /* Add some space between the back button and the logo */
  background: none;
  border: none;
margin-top: 15px;
cursor: pointer;
margin-right: auto; /* Push devadmin to the right */

}

















/* My account*/
#myaccountbody{

  background-color: #f9f9f9;
}


.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the items */
}

.myaccountprojects{

height: 200px;
text-align: center;
font-size: 20px;
width: 80%;
margin: 10px;
position: relative;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 8px; /* Adds rounded corners */
overflow: hidden; /* Ensures content doesn't overflow with rounded corners */
transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
font-family: 'Arial', sans-serif; /* Change the font to Arial or any other font you prefer */
background: linear-gradient(-45deg, #77f2a1, #4f76f6);
background-size: 100% 100%;
color: #ffffff;
}



.myaccountprojects:hover {
  transform: scale(1.05); /* Enlarges the container on hover */
}

#newprojectnamemodal {
  position: fixed;
  z-index: 3;
  display: none;
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-sizing: border-box;
  color: #1f2b37;
  
}


#newprojectnamemodal h2 {
  margin-top: 0;
  font-size: 24px;
}

#newprojectnamemodal button {
  background: linear-gradient(-45deg, #77f2a1, #4f76f6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;

}



#newprojectnamemodal label {
  font-size: 16px;
  display: inline-block; /* Display the label as inline block */
  margin-bottom: 5px;
  width: 30%; /* Adjust the width as needed */
}

#newprojectnamemodal input[type="text"] {
  width: 70%; /* Adjust the width as needed */
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #1f2b37;
  border-radius: 5px;
  box-sizing: border-box;
  background: none;
  color: #1f2b37;
  display: inline-block; /* Display the input as inline block */
}


#newprojectnamemodal input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Safari/Chrome autofill background color */
  transition: background-color 5000s ease-in-out 0s; /* Safari/Chrome autofill transition */
  -webkit-text-fill-color: #1f2b37 !important; /* Set text color to white */


}

#closenew {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}




.pageheader{
text-align: center;
color: #1f2b37;
}

#displayname{
  text-align: center;
  color: #1f2b37;

}



#headerlogomya {
  margin: 0; /* Remove default margin */
  font-size: 2em;
  background: linear-gradient(-45deg, #77f2a1, #4f76f6);
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  color: transparent; /* Hide the text color */
  cursor: pointer;
}



#errornewproject{

color: red;
font-size: 1.2em;
font-weight: 600;

}



.delete-btn {
  position: absolute;
  bottom: 5px; /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  background: none;
  border: none;
  cursor: pointer;
}

/* Style the delete icon */
.delete-icon {
  color: #1f2b37 !important; /* Make the icon red */
  font-size: 24px; /* Adjust size as needed */
}


.delete-icon:hover {
  color: red !important; /* Make the icon red */
  font-size: 24px; /* Adjust size as needed */
}





/* Developer Tools*/




#code-input {
    display: flex;
    width: 100%;
  }

  .inputsection{
width: 100%;
color: #1f2b37;
  }
  
  .inputcode {
    flex: 1; /* Each textarea takes up equal width */
    box-sizing: border-box;
    margin-right: 10px;
    width: 100%;
    height: 400px;
    background-color: #1f2b37;
color: #77f2a1


  }
  


  #codeoutputpreview{
position: fixed;
  z-index: 3;
  display: none;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-color: white;
  }


  #outputiframepreview{
width: 100%;

  }




  .navdev {
    width: 100%;
    display: flex;
    align-items: center; /* Center items vertically */
    color: #1f2b37; /* Set text color to black */
  
  }

  #devadmin {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: right; /* Center items horizontally */
    margin-left: auto; /* Push devadmin to the right */

  }
  
  #devadmin > * {
    margin-right: 10px; /* Add some spacing between elements */
  }
  

  #aicontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #changeai {
    margin-bottom: 10px; /* Optional: Add spacing between elements */
    width: 70%;
    height: 70px;
    border-radius: 4px;
    border: 1px solid #1f2b37;
    background-color: transparent;
    color: #1f2b37;
    text-align: center;
  }

  #changeai::placeholder {
    color: #1f2b37; /* Set placeholder text color */
  }
  
  
   #aibuttonsend {
    margin-bottom: 10px; /* Optional: Add spacing between elements */
    width: 40%;
    background-color: #4f76f6;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }




  #updateoutput{
    margin-top: 20px; /* Optional: Add spacing between elements */
    width: 40%;
    background-color: #4f76f6;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;

  }


  #previewcontainer{
display: flex;
align-items: center; 


  }




  #buttonsaveproject {
    background-color: #4f76f6;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    line-height: 1; /* Adjust line height */
    border: none !important;
  }
  
  #buttonsaveproject span.material-symbols-outlined {
    vertical-align: middle; /* Align icon vertically */
    margin-right: 5px; /* Adjust spacing between icon and text */
    color: white;
  }
  
  #buttonsaveproject:hover {
    background-color: #77f2a1; /* Darker green */
  }
  
  
  #devbody  input {


    border-radius: 4px;
    border: 1px solid #1f2b37;
    background-color: transparent;
    color: #1f2b37;
    }

    #devbody  label {
      color: #1f2b37;
      }





#devbody{
  background-color: #f9f9f9;
margin-bottom: 100px;


}


#headerlogodev{
  margin: 0; /* Remove default margin */
  background: linear-gradient(-45deg, #77f2a1, #4f76f6);
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  color: transparent; /* Hide the text color */
  animation: gradientText 15s ease infinite;
  font-size: 2em;
  margin-right: auto;

}



#loadingMessage {
  display: none;
  background-color: rgba(110, 110, 110, 0.5); /* Semi-transparent background color */
  color: white;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30vh; /* Center vertically */
}

/* Animation */
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadingicon {
  animation: loadingAnimation .5s infinite linear; /* Apply animation */
  color: #2aff1b;
  font-size: 5em;
}



#stickypreview {
  background:none;
  color: white;
  position: fixed;
  text-align: center;
    z-index: 5;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}






  /* public toggle */
.toggle-container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #4f76f6;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4f76f6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}




#toggleText{

  color: #1f2b37;
}

























/* home */





.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Adjust the z-index to ensure the overlay is on top of the content */
}


#posterthumbnails{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FBFBFB;
}


.project-container {
  position: relative;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Adds rounded corners */
  overflow: hidden; /* Ensures content doesn't overflow with rounded corners */
  transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
  font-family: 'Arial', sans-serif; /* Change the font to Arial or any other font you prefer */

}

.project-container:hover {
  transform: scale(1.05); /* Enlarges the container on hover */
}


iframe{

border: none;

}



.project-name {
  color: #333; /* Change the color of the project name */
  font-size: 20px; /* Adjust the font size for the project name */
  margin: 10px 0; /* Add some margin for spacing */
  margin-left: 10px;
}

.user-name {
  color: #999; /* Change the color of the user name */
  font-size: 14px; /* Adjust the font size for the user name */
  margin-bottom: 10px; /* Add margin at the bottom */
  margin-left: 10px;

}




/* Header */



/* Styling for the navigation */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align items at the start and end of the flex container */
  align-items: center; /* Center items vertically */
  color: #000; /* Set text color to black */

}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50px;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.navbuttons {
  position: relative;
  display: inline-block;

}

.navbuttonsbtn {
  padding: 10px 20px;
  background-color: #4f76f6;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50px;
  margin-left: 10px;
  display: none; /* Remove display none */
}

.navbuttonsbtn:hover {
  background-color: #2858f7;
  color: #fff;
}



#headerlogo{
  background: linear-gradient(-45deg, #77f2a1, #4f76f6);
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  color: transparent; /* Hide the text color */
  animation: gradientText 15s ease infinite;
  margin: 0; /* Remove default margin */
  font-size: 2em;
  margin-right: auto;
}




/* Sty/* Styling for the search input */
#searchhp[type="text"] {
  width: calc(100% - 80px); /* Adjust width to accommodate button */
  padding: 10px;
  border: none;
  border-bottom: 2px solid grey; /* Green */
  outline: none; /* Remove the default focus outline */
  font-size: 16px;
  background-color: transparent; /* Transparent background */
  transition: border-bottom-color 0.3s; /* Smooth transition for border color */
  margin-right: 10px;
}

.material-symbols-outlined {
  margin-left: 10px; /* Adjust as needed */
  font-size: 18px;
  color: #666; /* Adjust color as needed */
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
}

#searcharea {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#searchhp {
  flex: 1; /* Take up remaining space */
}

#searchButton {
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #4f76f6; /* Grey background color */
  color: #fff; /* Black text color */
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
  border-radius: 50px;
}

#searchButton:hover {
  background-color: #2858f7; /* Darker grey background color on hover */
  color: #fff; /* White text color on hover */
}


















/* Sign in page */






#signupform{
display: none;

}



#loginform{
  display: none;
  
  }


#resetform{

  display: none;
}


#loginpage{

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  #loginform {
    border-radius: 8px;
    padding: 40px;
    width: 300px;
    margin-top: -300px;
  }
  
  
  #loginform label {
    display: block;
    margin-bottom: 5px;
    color: #1f2b37;
  }
  
  #loginform input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f2b37;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: transparent;
    color: #1f2b37;
}

/* Override autofill background color */
#loginform input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Safari/Chrome autofill background color */
    transition: background-color 5000s ease-in-out 0s; /* Safari/Chrome autofill transition */
    -webkit-text-fill-color: #1f2b37 !important; /* Set text color to white */

}


  
  #loginbtn {
    background: linear-gradient(-45deg, #4f76f6, #77f2a1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
  }
  

  
  #signuplogin {
    background: none;
    border: none;
   color: #1f2b37;
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    background-clip: text;
    animation: gradientText 15s ease infinite;    font-size: 14px;
    cursor: pointer;
  }
  
  #signuplogin:hover {
    text-decoration: underline;
  }


  #loginbody {
    background-color: #ffffff;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  






.navlogin {
  width: 100%;
  text-align: center;

}

#headerlogologin {
  margin: 0; /* Remove default margin */
  font-size: 5em;
  background: linear-gradient(-45deg, #77f2a1, #4f76f6);
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  color: transparent; /* Hide the text color */
  animation: gradientText 15s ease infinite;
}





#signuppage{

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}



#signupform {
  border-radius: 8px;
  padding: 40px;
  width: 300px;
  margin-top: -300px;
}


#signupform label {
  display: block;
  margin-bottom: 5px;
  color: #1f2b37;
}

#signupform input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #1f2b37;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: transparent;
  color: #1f2b37;
}

/* Override autofill background color */
#signupform input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Safari/Chrome autofill background color */
  transition: background-color 5000s ease-in-out 0s; /* Safari/Chrome autofill transition */
  -webkit-text-fill-color: #1f2b37 !important; /* Set text color to white */


}



  
#signupbtn {
  background: linear-gradient(-45deg, #4f76f6, #77f2a1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}



  
#loginlogin {
  background: none;
  border: none;
color: #1f2b37;
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  animation: gradientText 15s ease infinite;    font-size: 14px;
  cursor: pointer;
}

#loginlogin:hover {
  text-decoration: underline;
}



#resetpage{

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}



#resetform {
  border-radius: 8px;
  padding: 40px;
  width: 300px;
  margin-top: -300px;
}


#resetform label {
  display: block;
  margin-bottom: 5px;
  color: #1f2b37;
}

#resetform input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #1f2b37;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: transparent;
  color: #1f2b37;
}

/* Override autofill background color */
#resetform input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Safari/Chrome autofill background color */
  transition: background-color 5000s ease-in-out 0s; /* Safari/Chrome autofill transition */
  -webkit-text-fill-color: #1f2b37 !important; /* Set text color to white */


}



  
#restbtn {
  background: linear-gradient(-45deg, #4f76f6, #77f2a1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}


#resetlogin {
  background: none;
  border: none;
color: #1f2b37;
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  animation: gradientText 15s ease infinite;    font-size: 14px;
  cursor: pointer;
}

#resetlogin:hover {
  text-decoration: underline;
}



#forgotpass {
  margin-top: 20px;
  background: none;
  border: none;
color: #1f2b37;
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  background-clip: text;
  animation: gradientText 15s ease infinite;    font-size: 14px;
  cursor: pointer;
}

#forgotpass:hover {
  text-decoration: underline;
}



@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}





